<div class="row">
	<div class="col-md-12">
		<h2 class="title is-2">Administration</h2>
	</div>
</div>
<div class="columns">
	<div class="column">
		<form ng-submit="createEvent()">
			<h3 class="title is-3">Ajouter un événement</h3>
			<p class="control">
				<input type="text" class="form-control" placeholder="Nom de l'événement" ng-model="newEvent.name" />
			</p>
			<p class="control">
				<textarea style="resize:none;" placeholder="Description de l'événement" ng-model="newEvent.desc" rows="6" class="form-control"></textarea>
			</p>
			<p class="control">
				<label>Début
					<input type="text" class="form-control" placeholder="JJ/MM/AAAA" ng-model="newEvent.start" />
				</label>
			</p>
			<p class="control">
				<label>Fin
					<input type="text" class="form-control" placeholder="JJ/MM/AAAA" ng-model="newEvent.end" />
				</label>
			</p>
			<button type="submit" class="button is-primary" ng-class="{ 'is-loading': creatingEvent }">Créer</button>
		</form>
	</div>
	<div class="column">
	</div>
</div>
<div class="content" ng-repeat="event in events">
	<hr>
	<h3 class="title is-3">
		<span>{{ event.name }}</span> <span class="subtitle is-5">du <strong>{{ event.start | date:'dd/MM/yyyy' }}</strong> au <strong>{{ event.end | date:'dd/MM/yyyy' }}</strong></span><span class="pull-right"><button class="button is-primary" ng-click="modifyEvent(event)"><i class="fa fa-fw fa-edit"></i> Modifier</button> <button ng-click="event.addingPresta = !event.addingPresta" class="button is-primary"><i class="fa fa-fw fa-plus"></i> Ajouter une presta</button></span>
	</h3>

	<form ng-submit="updateEvent(event)">
		<div class="form-group" ng-show="event.modifying">
			<label>Nouveau nom :<input type="text" class="form-control" ng-model="event.newName" /></label>
		</div>

		<div class="form-group" ng-show="event.modifying">
			<label>Nouvelle description :<br />
			<textarea rows="6" class="form-control" ng-model="event.newDescription" /></textarea></label>
		</div>

		<div class="form-group" ng-show="event.modifying">
			<label>Nouvelle date de début :<input type="text" class="form-control" ng-model="event.newStart" /></label>
		</div>

		<div class="form-group" ng-show="event.modifying">
			<label>Nouvelle date de fin :<input type="text" class="form-control" ng-model="event.newEnd" /></label>
		</div>

		<button ng-show="event.modifying" class="button is-primary">Sauvegarder</button> <button ng-show="event.modifying" class="button is-primary is-outlined">Annuler</button>
	</form>

	<p ng-hide="event.modifying" class="description">{{ event.description }}</p>

	<form style="margin-bottom: 10px;" ng-show="event.addingPresta" ng-init="event.newPresta = {}" class="form-inline">
		<p>
			<input type="text" placeholder="Nom" ng-model="event.newPresta.name" class="form-control" />
			<input type="text" placeholder="Description" ng-model="event.newPresta.description" class="form-control" />
			<input type="number" placeholder="Nombre de places" ng-model="event.newPresta.slots" class="form-control" />
			<button class="button is-primary" ng-class="{ 'is-loading': event.ajaxAddingPresta }" ng-click="addPresta(event)">Ajouter</button>
		</p>
	</form>

	<div class="message" ng-repeat="presta in event.prestas">
		<div class="message-header">
			{{presta.name}}<a href class="pull-right" ng-click="editPresta(presta)" ng-hide="presta.modifying">Modifier</a>
		</div>
		<div class="message-body">
			<p ng-show="presta.modifying">Nouveau nom :</p>

			<input ng-show="presta.modifying" type="text" class="form-control" ng-model="presta.newName">

			<p ng-show="presta.modifying">Nouvelle description :</p>

			<textarea ng-show="presta.modifying" rows="6" class="form-control" ng-model="presta.newDescription"></textarea>

			<p>Places : <span ng-hide="presta.modifying">{{ presta.slots }}</span><input ng-if="presta.modifying" class="form-control" type="number" ng-model="presta.newSlots"></p>

			<button ng-show="presta.modifying" ng-class="{ 'is-loading': presta.updating }" class="button is-primary" ng-click="updatePresta(presta)">Sauvegarder</button> <button ng-show="presta.modifying" class="button is-primary is-outlined" ng-click="presta.modifying = false">Annuler</button>

			<div class="message" style="margin-top:8px;">
				<div class="message-header">
					Participants
				</div>
				<div class="message-body">
					<table class="table" style="background-color: rgba(0,0,0,0)">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Mail</th>
								<th>Numéro de téléphone</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tr ng-repeat="shotgun in presta.shotguns">
							<td>{{shotgun.name}}</td>
							<td>{{shotgun.mail}}</td>
							<td>{{shotgun.phone_number}}</td>
							<td><span ng-show="shotgun.status === 'E'"><a href ng-click="validateShotgun($index, presta)">Valider</a></span><span ng-hide="shotgun.status === 'E'">Validé</span></td>
							<td><a class="fa fa-fw fa-times" ng-click="deleteShotgun($index, presta)"></a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
